/function-example/Testes/nbproject/private/
/function-example/Testes/build/
/function-example/WebApplication1/nbproject/private/
/function-example/WebApplication1/build/
/function-example/PlatformWeb/target/
/build/
/AngularJPA/nbproject/private/