<div>
    <h2>
        <span jhiTranslate="platform.estagioExecucaoEntrega.home.title">Estagio Execucao Entregas</span>
        <button class="btn btn-primary float-right create-estagio-execucao-entrega" [routerLink]="['/', { outlets: { popup: ['estagio-execucao-entrega-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.estagioExecucaoEntrega.home.createLabel">
            Create new Estagio Execucao Entrega
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="estagioExecucaoEntregas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="planoClassificador.id"><span jhiTranslate="platform.estagioExecucaoEntrega.planoClassificador">Plano Classificador</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="entrega.id"><span jhiTranslate="platform.estagioExecucaoEntrega.entrega">Entrega</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estagioExecucaoEntrega of estagioExecucaoEntregas ;trackBy: trackId">
                <td><a [routerLink]="['../estagio-execucao-entrega', estagioExecucaoEntrega.id ]">{{estagioExecucaoEntrega.id}}</a></td>
                <td>
                    <div *ngIf="estagioExecucaoEntrega.planoClassificador">
                        <a [routerLink]="['../plano-classificador', estagioExecucaoEntrega.planoClassificador?.id ]" >{{estagioExecucaoEntrega.planoClassificador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="estagioExecucaoEntrega.entrega">
                        <a [routerLink]="['../entrega', estagioExecucaoEntrega.entrega?.id ]" >{{estagioExecucaoEntrega.entrega?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../estagio-execucao-entrega', estagioExecucaoEntrega.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estagio-execucao-entrega/'+ estagioExecucaoEntrega.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estagio-execucao-entrega/'+ estagioExecucaoEntrega.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="estagioExecucaoEntregas && estagioExecucaoEntregas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
