
<div *ngIf="estagioExecucaoEntrega">
    <h2><span jhiTranslate="platform.estagioExecucaoEntrega.detail.title">Estagio Execucao Entrega</span> {{estagioExecucaoEntrega.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="platform.estagioExecucaoEntrega.planoClassificador">Plano Classificador</span></dt>
        <dd>
            <div *ngIf="estagioExecucaoEntrega.planoClassificador">
                <a [routerLink]="['/plano-classificador', estagioExecucaoEntrega.planoClassificador?.id]">{{estagioExecucaoEntrega.planoClassificador?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="platform.estagioExecucaoEntrega.entrega">Entrega</span></dt>
        <dd>
            <div *ngIf="estagioExecucaoEntrega.entrega">
                <a [routerLink]="['/entrega', estagioExecucaoEntrega.entrega?.id]">{{estagioExecucaoEntrega.entrega?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'estagio-execucao-entrega/'+ estagioExecucaoEntrega.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
