<div>
    <h2>
        <span jhiTranslate="platform.produtoAppVersao.home.title">Produto App Versaoes</span>
        <button class="btn btn-primary float-right create-produto-app-versao" [routerLink]="['/', { outlets: { popup: ['produto-app-versao-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.produtoAppVersao.home.createLabel">
            Create new Produto App Versao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="produtoAppVersaoes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="versaoProduto"><span jhiTranslate="platform.produtoAppVersao.versaoProduto">Versao Produto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="revisaoMinimaDB"><span jhiTranslate="platform.produtoAppVersao.revisaoMinimaDB">Revisao Minima DB</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ordemExecucao"><span jhiTranslate="platform.produtoAppVersao.ordemExecucao">Ordem Execucao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="produto.id"><span jhiTranslate="platform.produtoAppVersao.produto">Produto</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produtoAppVersao of produtoAppVersaoes ;trackBy: trackId">
                <td><a [routerLink]="['../produto-app-versao', produtoAppVersao.id ]">{{produtoAppVersao.id}}</a></td>
                <td>{{produtoAppVersao.versaoProduto}}</td>
                <td>{{produtoAppVersao.revisaoMinimaDB}}</td>
                <td>{{produtoAppVersao.ordemExecucao}}</td>
                <td>
                    <div *ngIf="produtoAppVersao.produto">
                        <a [routerLink]="['../produto', produtoAppVersao.produto?.id ]" >{{produtoAppVersao.produto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../produto-app-versao', produtoAppVersao.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produto-app-versao/'+ produtoAppVersao.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produto-app-versao/'+ produtoAppVersao.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="produtoAppVersaoes && produtoAppVersaoes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
