<div>
    <h2>
        <span jhiTranslate="platform.conteudoApp.home.title">Conteudo Apps</span>
        <button class="btn btn-primary float-right create-conteudo-app" [routerLink]="['/', { outlets: { popup: ['conteudo-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.conteudoApp.home.createLabel">
            Create new Conteudo App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="conteudoApps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="versao.id"><span jhiTranslate="platform.conteudoApp.versao">Versao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conteudoApp of conteudoApps ;trackBy: trackId">
                <td><a [routerLink]="['../conteudo-app', conteudoApp.id ]">{{conteudoApp.id}}</a></td>
                <td>
                    <div *ngIf="conteudoApp.versao">
                        <a [routerLink]="['../produto-app-versao', conteudoApp.versao?.id ]" >{{conteudoApp.versao?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../conteudo-app', conteudoApp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conteudo-app/'+ conteudoApp.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conteudo-app/'+ conteudoApp.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="conteudoApps && conteudoApps.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
