<div>
    <h2>
        <span jhiTranslate="platform.configSchema.home.title">Config Schemas</span>
        <button class="btn btn-primary float-right create-config-schema" [routerLink]="['/', { outlets: { popup: ['config-schema-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.configSchema.home.createLabel">
            Create new Config Schema
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="configSchemas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schemaName"><span jhiTranslate="platform.configSchema.schemaName">Schema Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schemaTestEnabled"><span jhiTranslate="platform.configSchema.schemaTestEnabled">Schema Test Enabled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestAppRevision.id"><span jhiTranslate="platform.configSchema.latestAppRevision">Latest App Revision</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestDbRevision.id"><span jhiTranslate="platform.configSchema.latestDbRevision">Latest Db Revision</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="servicoAPP.id"><span jhiTranslate="platform.configSchema.servicoAPP">Servico APP</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="produto.id"><span jhiTranslate="platform.configSchema.produto">Produto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="filial.id"><span jhiTranslate="platform.configSchema.filial">Filial</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="servicoDB.id"><span jhiTranslate="platform.configSchema.servicoDB">Servico DB</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let configSchema of configSchemas ;trackBy: trackId">
                <td><a [routerLink]="['../config-schema', configSchema.id ]">{{configSchema.id}}</a></td>
                <td>{{configSchema.schemaName}}</td>
                <td>{{configSchema.schemaTestEnabled}}</td>
                <td>
                    <div *ngIf="configSchema.latestAppRevision">
                        <a [routerLink]="['../config-schema-app-revision', configSchema.latestAppRevision?.id ]" >{{configSchema.latestAppRevision?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configSchema.latestDbRevision">
                        <a [routerLink]="['../config-schema-db-revision', configSchema.latestDbRevision?.id ]" >{{configSchema.latestDbRevision?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configSchema.servicoAPP">
                        <a [routerLink]="['../servico-app', configSchema.servicoAPP?.id ]" >{{configSchema.servicoAPP?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configSchema.produto">
                        <a [routerLink]="['../produto', configSchema.produto?.id ]" >{{configSchema.produto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configSchema.filial">
                        <a [routerLink]="['../filial', configSchema.filial?.id ]" >{{configSchema.filial?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="configSchema.servicoDB">
                        <a [routerLink]="['../servico-db', configSchema.servicoDB?.id ]" >{{configSchema.servicoDB?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../config-schema', configSchema.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-schema/'+ configSchema.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config-schema/'+ configSchema.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="configSchemas && configSchemas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
