<div>
    <h2>
        <span jhiTranslate="platform.entregaAlvo.home.title">Entrega Alvoes</span>
        <button class="btn btn-primary float-right create-entrega-alvo" [routerLink]="['/', { outlets: { popup: ['entrega-alvo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.entregaAlvo.home.createLabel">
            Create new Entrega Alvo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="entregaAlvoes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="requerAutorizacao"><span jhiTranslate="platform.entregaAlvo.requerAutorizacao">Requer Autorizacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="autorizado"><span jhiTranslate="platform.entregaAlvo.autorizado">Autorizado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="autorizadoPor"><span jhiTranslate="platform.entregaAlvo.autorizadoPor">Autorizado Por</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataAgendamento"><span jhiTranslate="platform.entregaAlvo.dataAgendamento">Data Agendamento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="empresa.id"><span jhiTranslate="platform.entregaAlvo.empresa">Empresa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deliveryOrder.id"><span jhiTranslate="platform.entregaAlvo.deliveryOrder">Delivery Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estagio.id"><span jhiTranslate="platform.entregaAlvo.estagio">Estagio</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entregaAlvo of entregaAlvoes ;trackBy: trackId">
                <td><a [routerLink]="['../entrega-alvo', entregaAlvo.id ]">{{entregaAlvo.id}}</a></td>
                <td>{{entregaAlvo.requerAutorizacao}}</td>
                <td>{{entregaAlvo.autorizado}}</td>
                <td>{{entregaAlvo.autorizadoPor}}</td>
                <td>{{entregaAlvo.dataAgendamento}}</td>
                <td>
                    <div *ngIf="entregaAlvo.empresa">
                        <a [routerLink]="['../empresa', entregaAlvo.empresa?.id ]" >{{entregaAlvo.empresa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entregaAlvo.deliveryOrder">
                        <a [routerLink]="['../delivery-order', entregaAlvo.deliveryOrder?.id ]" >{{entregaAlvo.deliveryOrder?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entregaAlvo.estagio">
                        <a [routerLink]="['../estagio-execucao-entrega', entregaAlvo.estagio?.id ]" >{{entregaAlvo.estagio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../entrega-alvo', entregaAlvo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entrega-alvo/'+ entregaAlvo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entrega-alvo/'+ entregaAlvo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="entregaAlvoes && entregaAlvoes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
