<div>
    <h2>
        <span jhiTranslate="platform.empresa.home.title">Empresas</span>
        <button class="btn btn-primary float-right create-empresa" [routerLink]="['/', { outlets: { popup: ['empresa-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="platform.empresa.home.createLabel">
            Create new Empresa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="empresas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="platform.empresa.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codigo"><span jhiTranslate="platform.empresa.codigo">Codigo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cliente.id"><span jhiTranslate="platform.empresa.cliente">Cliente</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empresa of empresas ;trackBy: trackId">
                <td><a [routerLink]="['../empresa', empresa.id ]">{{empresa.id}}</a></td>
                <td>{{empresa.nome}}</td>
                <td>{{empresa.codigo}}</td>
                <td>
                    <div *ngIf="empresa.cliente">
                        <a [routerLink]="['../cliente', empresa.cliente?.id ]" >{{empresa.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../empresa', empresa.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'empresa/'+ empresa.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'empresa/'+ empresa.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="empresas && empresas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
