
<div *ngIf="servidor">
    <h2><span jhiTranslate="platform.servidor.detail.title">Servidor</span> {{servidor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="platform.servidor.hostIP">Host IP</span></dt>
        <dd>
            <span>{{servidor.hostIP}}</span>
        </dd>
        <dt><span jhiTranslate="platform.servidor.contato">Contato</span></dt>
        <dd>
            <span>{{servidor.contato}}</span>
        </dd>
        <dt><span jhiTranslate="platform.servidor.observacao">Observacao</span></dt>
        <dd>
            <span>{{servidor.observacao}}</span>
        </dd>
        <dt><span jhiTranslate="platform.servidor.cliente">Cliente</span></dt>
        <dd>
            <div *ngIf="servidor.cliente">
                <a [routerLink]="['/cliente', servidor.cliente?.id]">{{servidor.cliente?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'servidor/'+ servidor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
