<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDeliveryOrderLabel" jhiTranslate="platform.deliveryOrder.home.createOrEditLabel">Create or edit a Delivery Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!deliveryOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="deliveryOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="platform.deliveryOrder.packageKind" for="field_packageKind">Package Kind</label>
            <input type="text" class="form-control" name="packageKind" id="field_packageKind"
                [(ngModel)]="deliveryOrder.packageKind"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="platform.deliveryOrder.packageData" for="field_packageData">Package Data</label>
            <input type="text" class="form-control" name="packageData" id="field_packageData"
                [(ngModel)]="deliveryOrder.packageData"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="platform.deliveryOrder.empresa" for="field_empresa">Empresa</label>
            <select class="form-control" id="field_empresa" name="empresa" [(ngModel)]="deliveryOrder.empresa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="empresaOption.id === deliveryOrder.empresa?.id ? deliveryOrder.empresa : empresaOption" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
